<a href="https://colab.research.google.com/github/sawadama2/ai__study/blob/master/section_2/python_basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pythonの基礎2
リストや分岐、ループなどについて学んでいきます。

## ●リスト
**リスト**は、複数の値をまとめて扱う場合に使用します。  
リストは全体を`[]`で囲み、各要素は`,`で区切ります。

In [ ]:
a = [2011, 2012, 2013, 2014, 2015]  # リストの作成

print(a[0])  # 先頭から0番目の要素
print(a[1])  # 先頭から1番目の要素
print(a[2])  # 先頭から2番目の要素

In [1]:
# 練習用
a=[2011,2012,2013,2014,2015]

print(a[0])
print(a[1])
print(a[2])

2011
2012
2013

リストでは、変数名の直後に`[ ]`を記述することで各要素を取り出すことができます。   
Pythonのリストはどのような値でも格納することができます。

In [ ]:
b = 2016
c = [b, 2017, 20.1, "Hello", "Hi"]
print(c[1:4])  # 先頭から1番目以上、4番目未満の範囲

In [2]:
# 練習用
b=2016
c=[b,2017,20.1,"hello","hi"]
print(c[1:4])

[2017, 20.1, 'hello']

リストの中にリストを格納することもできます。

In [ ]:
d =[[2012, 2013, 2014], [2015, 2016, 2017]]
print(d[0])  # 先頭から0番目の要素

In [3]:
# 練習用
d=[[2012,2013,2014],[2015,2016,2017]]
print(d[0])

[2012, 2013, 2014]

リストは、作成後に要素を変更することができます。  
また、appendにより要素を追加することができます。

In [ ]:
e = ["Py", 543.21, 79, "thon", [2018, 2019, 2020]]
print(e)

# 要素の変更
e[2] = 99
print(e)

# 要素の追加
e.append(2021)
print(e)

In [6]:
# 練習用
e=["py",543.21,79,"thon",[2018,2019,2020]]
print(e)
e[2]=99
print(e)
e.append(2021)
print(e)

['py', 543.21, 79, 'thon', [2018, 2019, 2020]]
['py', 543.21, 99, 'thon', [2018, 2019, 2020]]
['py', 543.21, 99, 'thon', [2018, 2019, 2020], 2021]

リストにより、多くの値を効率よく扱うことが可能になります。

## ●タプル
**タプル**はリストと同じく複数の値をまとめて扱いたいときに利用しますが、要素の追加や削除、入れ替えなどはできません。  
タプルは全体を`()`で囲み、各要素は`,`で区切ります。  
要素を変更する予定が無い場合は、リストよりもタプルを使用する方がベターです。  
以下では、リストとタプルを比較しています。

In [ ]:
a = [2012, 2013, 2014]  # リスト
b = (2012, 2013, 2014)  # タプル

print(a)
print(b)

print(a[1])
print(b[1])

a[1] = 2016
print(a)

# b[1] = 2016  # エラーが発生
# print(b)

a.append(2015)
print(a)

# b.append(2015)  # エラーが発生
# print(b)

In [10]:
# 練習用
a=[2021,2013,2014]
b=(2012,2013,2014)
print(a)
print(b)
print(a[1])
print(b[1])

a[1]=2016
print(a)

#b[1]=216
#print(b)

a.append(2015)
print(a)

b.append(2015)
print(b)

[2021, 2013, 2014]
(2012, 2013, 2014)
2013
2013
[2021, 2016, 2014]
[2021, 2016, 2014, 2015]

AttributeError: 'tuple' object has no attribute 'append'

タプルの要素を変更したり、タプルに要素を追加しようとするとエラーが発生します。

## ●辞書
**辞書**は、キーと値の組合せでデータを格納します。　  
以下は、Pythonの辞書を扱う例です。  
文字列をキーとして辞書を作成し、値の取得や入れ替え、要素の追加を行なっています。

In [ ]:
a = {"Taro":1985, "Hanako":1986}  # 辞書の作成
print(a["Taro"])   # "Taro"のキーを持つ値を取得

a["Hanako"] = 1987  # 要素の入れ替え
print(a)

a["Jiro"] = 1989  # 要素の追加
print(a)

In [11]:
# 練習用
a={"taro":1985,"hanako":1986}
print(a["taro"])

a["hanako"]=1987
print(a)

a["jiro"]=1989
print(a)

1985
{'taro': 1985, 'hanako': 1987}
{'taro': 1985, 'hanako': 1987, 'jiro': 1989}

辞書は、キーを使って多数の値を管理したい際に使用します。

## ●if文  
**if**文により条件分岐を行うことができます。  
ifの右側が`True`であればその次の処理が、`False`であればelseの次の処理が実行されます。  
以下のコードは、`a`の値が5であれば足し算を行い、5でなければ掛け算を行います。

In [13]:
a = 5

if a == 5:  # aと5は等しいのでifの右はTrue
    print("3+4=")
    print(3+4)
else:
    print("3×4=")
    print(3*4)

3+4=
7

In [12]:
# 練習用
a=5
if a==5:
  print("3+4=")
  print(3+4)
else:
  print("3*4=")
  print(3*4)

3+4=
7

分岐後の処理の行頭には、複数のスペースからなる「インデント」を挿入します。  
インデントは通常半角スペース4つを使用します。  
    
3つ以上の分岐を行う際には、`elif`を使用します。

In [ ]:
b = 4

if b < 3:
    print("Hello!")
elif b < 5:  # ifの右側がFalseの場合
    print("Hi!")
else:  # if、elifの右側がFalseの場合
    print("Yeah!")

In [14]:
# 練習用
b=4
if b<3:
    print("hello")
elif b<5:
    print("hi")
else:
    print("yeah")

hi

`elif`を並べることで、さらに多くの分岐を行うことが可能になります。

In [ ]:
time = 20

if time < 12:
    print("Good morning!")
elif time < 17:
    print("Good afternoon!")
elif time < 21:
    print("Good evening!")
else:
    print("Good night!")

In [15]:
# 練習用
time=20

if time <12:
    print("good morning")
elif time<17:
    print("good afternoon")
else:
    print("good evening")

good evening

## ●for文
**for**文を使えば、同じ処理を繰り返し実行することができます。  
以下の例は、リストをとfor文を使ったループ処理です。

In [ ]:
a = [2001, 2002, 2003, 2004, 2005]
for i in a:  # iにはリストaの各要素が入る
    print(i + 10)  # 行頭にインデントを入れる

In [16]:
# 練習用
a=[2001,2002,2003,2004,2005]
for i in a:
  print(i+10)

2011
2012
2013
2014
2015

繰り返し行う処理には行頭にインデントを挿入します。  
  
ループ内で連番の整数を使う場合は、`range`を使用します。  
以下の例では、`i`に0から5までの整数が入ります。

In [ ]:
for i in range(0, 6):  # iには0以上6未満の整数が入る
    print(i * 2)

In [18]:
# 練習用
for i in range(0,6):
    print(i*2)

0
2
4
6
8
10

for文によるループを使うことで、冗長なコードを簡潔にまとめることが可能になります。

## ●while文
ある条件が満たされている間ループするためには、**while**文を用います。

In [ ]:
print("--- 10未満 ---")
a = 0
while a < 10:  # aが10未満である間ループ
    print(a)
    a += 1  # aに1を加える

print("--- 10と等しくない ---")
b = 0
while b != 10:  # bが10と等しくない限りループ
    print(b)
    b += 1

In [19]:
# 練習用
print("---10未満---")
a=0
while a<10:
    print(a)
    a+=1
print("---10と等しくない---")
b=0
while b!= 10:
    print(b)
    b+=1

---10未満---
0
1
2
3
4
5
6
7
8
9
---10と等しくない---
0
1
2
3
4
5
6
7
8
9

## ●分岐とループの組み合わせ
分岐とループを組み合わせることで、条件が満たされた処理のみをループ内で実行することが可能になります。

In [ ]:
a = []  # 空のリスト
for i in range(0, 10):
    if i%2 == 0:  # 偶数であれば
        a.append(i)

print (a)

In [22]:
# 練習用
a=[]
for i in range(0,10):
    if i%2==0:
        a.append(i)
print(a)

[0, 2, 4, 6, 8]